.footer-license-icons a i:last-child {
    margin-right: 0;
}
.footer-license-icons a:hover {
    text-decoration: none;
}

#contact i.fa-li {
    top: 0;
}

.dark .card .section-subheading a {
    color: #bbdefb;
}